<!-- View Object
{
    document = [document] Current document,
    title = [string] Current title,
    config = [config] Global config
}
-->
<link rel="stylesheet" href="/vendor/simplemde/simplemde.min.css" />
<link rel="stylesheet" href="/vendor/dropzone/dropzone.css" />
<div class="before-main-wrapper">
  <div class="header-wrapper">
    <div class="container header-left">
      <div class="header-titles">
        <h1><%= title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="container wrap main-section js-editPage" id="wrap-main-section" data-slug="<%= document.slug %>">
  <div id="content" class="content">
    <div class="row">
      <form action="<%= document.slug %>/save" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%= document.title === 'New document' ? '' : document.title %>">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control js-content" name="content"><%= document.content %></textarea>
        </div>
        <div class="form-group">
          <label for="title">Tags</label>
          <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags..." value="<%= document.tags ? document.tags.join() : '' %>">
        </div>
        <a href="<%= document.slug %>" class="btn btn-primary">Close</a>
        <input type="hidden" id="originalSlug" name="originalSlug" value="<%= document.slug %>" />
        <input type="submit" class="btn btn-success" value="Save" />
        <% if(document.slug){ %>
        <a href="<%= document.slug %>/delete" class="btn btn-danger pull-right js-delete">Delete</a>
        <% } %>
      </form>
      <form method="post" action="upload" class="js-dropzone dropzone" id="fileupload" data-upload="uploads/">
        <div class="dz-message needsclick">Drop files here or click to upload.</div>
      </form>
    </div>
  </div>
</div>
<script src="/vendor/dropzone/dropzone.js"></script>
<script>
Dropzone.autoDiscover = false;
Dropzone.options.fileupload = {
  maxFilesize: 2, // MB
  acceptedFiles: 'image/*,application/pdf,application/zip,application/x-rar-compressed',
};
</script>
<script src="/vendor/jquery.js"></script>
<script src="/vendor/simplemde/simplemde.min.js"></script>
<script src="/scripts/slug.js"></script>
<script src="/scripts/edit.js"></script>
