{
  "extends": [
    "airbnb",
    "plugin:ava/recommended",
    "plugin:import/recommended",
    "plugin:jsdoc/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:n/recommended",
    "plugin:optimize-regex/all",
    "plugin:security/recommended-legacy",
    "plugin:sonarjs/recommended",
    "plugin:@typescript-eslint/recommended-type-checked"
  ],
  "plugins": [
    "@typescript-eslint",
    "anti-trojan-source",
    "ava",
    "import",
    "jsdoc",
    "jsx-a11y",
    "no-inferred-method-name",
    "n",
    "optimize-regex",
    "security",
    "sonarjs",
    "xss"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "sinon": false,
    "expect": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unsafe-argument": "warn",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "warn",
    "anti-trojan-source/no-bidi": "error",
    "ava/no-only-test": "warn",
    "camelcase": 0,
    "consistent-return": ["warn", { "treatUndefinedAsUnspecified": false }],
    "import/no-commonjs": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": ["**/*.test.js", "**/test/**/*.js"],
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/extensions": ["warn", "ignorePackages"],
    "import/no-unresolved": 0,
    "max-len": 0,
    "no-continue": 0,
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "no-return-await": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_", "caughtErrors": "none" }],
    "object-curly-newline": 0,
    "optimize-regex/optimize-regex": "warn",
    "security/detect-non-literal-fs-filename": 0,
    "security/detect-non-literal-require": 0,
    "security/detect-object-injection": 0,
    "sonarjs/cognitive-complexity": 0,
    "sonarjs/no-duplicate-string": 0
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "test/_helpers/*.*"],
      "parserOptions": {
        "project": "./test/tsconfig.json"
      }
    }
  ],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    },
    "react": {
      "version": "detect"
    }
  }
}
